@font-face {
  font-family: 'smash';
  src: url('https://TheJaredWilcurt.com/melee-all-trophies-tracker/fonts/smash/smash-webfont.woff2') format('woff2'),
       url('https://TheJaredWilcurt.com/melee-all-trophies-tracker/fonts/smash/smash-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Univers';
  src: url('_fonts/univers-bold.woff2') format('woff2'),
       url('_fonts/univers-bold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Univers';
  src: url('_fonts/univers-condensed-bold.woff2') format('woff2'),
       url('_fonts/univers-condensed-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Univers';
  src: url('_fonts/univers-regular.woff2') format('woff2'),
       url('_fonts/univers-regular.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Univers';
  src: url('_fonts/univers-condensed-regular.woff2') format('woff2'),
       url('_fonts/univers-condensed-regular.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Univers';
  src: url('_fonts/univers-light.woff2') format('woff2'),
       url('_fonts/univers-light.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

[v-cloak] {
    display: none !important;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    background: #222;
    border: 0px;
    margin: 0px;
    padding: 0px;
    color: #CCC;
    font-family: sans-serif;
}

input[type="range"] {
    vertical-align: middle;
}
label {
    display: block;
    margin-top: 10px;
}

#app {
    position: relative;
    height: 100%;
    z-index: 3;
}

.bg-vid {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    opacity: 0.05;
    z-index: 1;
}

h1,
h2 {
    font-family: 'smash', sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    margin: 0px auto;
}
.melee-slant {
    position: absolute;
    top: 10px;
    width: 250px;
    height: 100px;
}
.text-overlap {
    position: relative;
    width: 100%;
    height: 32px;
    margin-top: 7px;
    font-size: 12.5px;
}
.text-overlap + .text-overlap {
    height: 52px;
    font-size: 18.4px;
}
.title-text-color {
    position: absolute;
    width: 100%;
    background-image: linear-gradient(0deg, #F00, #F00, #000, #000, #000);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.title-text-stroke {
    position: absolute;
    width: 100%;
    -webkit-text-stroke: 3px rgba(255, 255, 255, 0.9);
    -webkit-text-fill-color: #FFF;
}

.controls {
    margin-top: 20px;
    text-align: center;
}

.menu-item{
    position: absolute;
    top: 56px;
    left: 128px;
    z-index: 2;
}
.menu-item-label {
    position: absolute;
    top: 0px;
    left: 36px;
    font-family: Univers, sans-serif;
    font-size: 25px;
    font-weight: 700;
    transform: scale(102%, 96%);
}
.menu-item-settings {
    font-size: 0px;
}
.menu-item-bg {
    position: absolute;
    width: 364px;
    height: 29px;
    background: #FFF;
    border-width: 0px 1px 1px;
    border-style: solid;
    border-color: transparent;
    border-radius: 20px 0px 0px 20px;
    opacity: 0.25;
    &:after {
        content: '';
        position: absolute;
        display: block;
        top: 6px;
        right: -11px;
        width: 20px;
        height: 20px;
        border-width: 11px;
        border-style: solid;
        border-color: #FFF #FFF transparent transparent;
        border-radius: 0px 5px 12px 0px;
        transform: rotate(38deg) skewY(18deg);
    }
}
.menu-item-border {
    position: absolute;
    width: 364px;
    height: 29px;
    border-width: 1px 0px 1px 1px;
    border-style: solid;
    border-color: #FFF;
    border-radius: 20px 0px 0px 20px;
    opacity: 0.5;
    &:before {
        content: '';
        position: absolute;
        bottom: -1px;
        right: -4px;
        width: 5px;
        height: 1px;
        border-bottom: 1px solid #FFF;
    }
    &:after {
        content: '';
        position: absolute;
        display: block;
        top: 7px;
        right: -12px;
        width: 20px;
        height: 12px;
        border-width: 1px 1px 0px 0px;
        border-style: solid;
        border-color: #FFF;
        border-radius: 0px 4px 0px 0px;
        transform: rotate(37deg) skewY(23deg);
    }
}

.image-top-left,
.image-top-right,
.image-bottom-left,
.image-bottom-right {
    position: fixed;
    z-index: -1;
}
.image-top-left {
    top: 10px;
    left: 30px;
}
.image-top-right {
    top: 10px;
    right: 30px;
}
.image-bottom-left {
    bottom: 10px;
    left: 30px;
}
.image-bottom-right {
    bottom: 10px;
    right: 30px;
}


.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 560px;
    height: 260px;
    margin: 0px auto;
    font-size: 500%;
    cursor: pointer;
    overflow: hidden;
    perspective: 800px;
}
.deck,
.cylinder,
.card {
    position: absolute;
    transform-style: preserve-3d;
}
.deck {
    top: 50%;
    left: 50%;
    width: 80em;
    height: 80em;
    margin: -40em 0em 0em -40em;
    transform: rotateY(-11.25deg);
    transition: 1s ease transform;
}
.cylinder {
    top: 50%;
    left: 50%;
    width: 0em;
    height: 0em;
    transform-origin: 50%;
    transform: translate3D(0em, 0em, 0em);
    opacity: 1.0;
    width: 6em;
    height: 3em;
    margin: -0.9em 0em 0em 0em;
}
.card {
    width: 1.19em;
    height: 1.9em;
    background: linear-gradient(#111, #4666, #111);
    border-radius: 10px;
    box-shadow: inset 0px 0px 0px 1px #0006;
    backface-visibility: hidden;
    background-size: 100% 100%;
    background-position: center;
    perspective: 400px;
    transform-origin: 0 0;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
}
.character {
    --sprite-width: 136px;
    --sprite-height: 188px;
    width: var(--sprite-width);
    height: var(--sprite-height);
    background-image: url('_images/spritesheet.png');
    background-position: var(--sprite-width) 0px;
    backface-visibility: hidden;
    filter: drop-shadow(10px 9px 7px #000A);
    transform: translate3D(-23px, -18px, 8px) scale(0.7);
}
.selected-card {
    width: 1.19em;
    height: 1.9em;
    border: 4px solid #5F6A;
    border-radius: 20px;
    transform: translate3d(0px, 5px, 270px);
    animation:
        throbbing-selector 3s ease-in-out infinite,
        selector-border 10s ease-in-out infinite;
}

@keyframes throbbing-selector {
  0%,
  100% { transform: translate3d(0px, 5px, 260px); }
  50%  { transform: translate3d(0px, 5px, 220px); }
}
@keyframes selector-border {
  0%   { filter: hue-rotate(0deg); }
  100% { filter: hue-rotate(360deg); }
}
