@font-face {
  font-family: 'smash';
  src: url('https://TheJaredWilcurt.com/melee-all-trophies-tracker/fonts/smash/smash-webfont.woff2') format('woff2'),
       url('https://TheJaredWilcurt.com/melee-all-trophies-tracker/fonts/smash/smash-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Univers';
  src: url('_fonts/univers-bold.woff2') format('woff2'),
       url('_fonts/univers-bold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Univers';
  src: url('_fonts/univers-condensed-bold.woff2') format('woff2'),
       url('_fonts/univers-condensed-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Univers';
  src: url('_fonts/univers-regular.woff2') format('woff2'),
       url('_fonts/univers-regular.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Univers';
  src: url('_fonts/univers-condensed-regular.woff2') format('woff2'),
       url('_fonts/univers-condensed-regular.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Univers';
  src: url('_fonts/univers-light.woff2') format('woff2'),
       url('_fonts/univers-light.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

[v-cloak] {
    display: none !important;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    background: #222;
    border: 0px;
    margin: 0px;
    padding: 0px;
    color: #CCC;
    font-family: sans-serif;
}

input[type="range"] {
    vertical-align: middle;
}
label {
    display: block;
    margin-top: 10px;
}

#app {
    position: relative;
    height: 100%;
    z-index: 3;
}

.bg-vid {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    opacity: 0.05;
    z-index: 1;
}
.bg-blue,
.bg-green,
.bg-black {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 1.0;
    transition: 5s ease opacity;
    z-index: -1;
}
.bg-blue { background: #00F; }
.bg-green { background: #0F0; }
.bg-black { background: #000; }
.hide { opacity: 0.0 }

h1,
h2 {
    font-family: 'smash', sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    margin: 0px auto 20px;
}
.melee-slant {
    position: absolute;
    top: 10px;
    width: 250px;
    height: 100px;
}
.text-overlap {
    position: relative;
    width: 100%;
    height: 32px;
    margin-top: 7px;
    font-size: 12.5px;
}
.text-overlap + .text-overlap {
    height: 52px;
    font-size: 18.4px;
}
.title-text-color {
    position: absolute;
    width: 100%;
    background-image: linear-gradient(0deg, #F00, #F00, #000, #000, #000);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.title-text-stroke {
    position: absolute;
    width: 100%;
    -webkit-text-stroke: 3px rgba(255, 255, 255, 0.9);
    -webkit-text-fill-color: #FFF;
}

.tweetch {
    display: block;
    margin: 20px auto 5px;
}
.tweetch,
.tweetch svg {
    width: 38px;
    height: 38px;
    fill: #6441A5;
}
.tweetch svg:hover {
    fill: #906CD3;
}

.controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 410px;
    margin: 20px auto 0px;
}

.slider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.slider button {
    background: transparent;
    border: 0px;
    margin: 0px 6px 0px 0px;
    padding: 3px 5px;
    cursor: pointer;
}
.slider button:focus-visible {
    outline: 1px solid #FFF;
}
.slider svg {
    width: 24px;
    height: 24px;
    stroke: #8C7021;
}
.slider svg:hover {
    stroke: #EDC53F;
}
.slider input {
    appearance: none;
    width: 200px;
    height: 10px;
    background: #000;
    border-width: 2px 4px;
    border-style: solid;
    border-color: #FFF9;
    transform: skewX(-29deg);
}
.slider input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 8px;
    height: 20px;
    background: #FFF;
    border: 0px;
    cursor: pointer;
}
.slider input::-moz-range-thumb {
    width: 8px;
    height: 20px;
    background: #FFF;
    cursor: pointer;
    border: 0px;
    border-radius: 0px;
}

.menu-item {
    position: relative;
    display: block;
    width: 374px;
    margin: 20px;
    font-family: Univers, sans-serif;
    font-weight: 700;
    color: #FFF;
    cursor: pointer;
    z-index: 2;
}
.menu-item-full-circle {
    position: absolute;
    display: none;
    top: 2px;
    left: 4px;
    width: 24px;
    height: 25px;
    background: #FDFCF4;
    border-radius: 100px;
    filter: blur(2px);
    opacity: 1.0;
    animation:
        spinning-menu-circle 3s ease-in-out infinite,
        fading-menu-circle 3s ease-in-out infinite;
}
.menu-item-half-circle:before,
.menu-item-half-circle:after {
    content: '';
    position: absolute;
    display: block;
    border-radius: 20px 0px 0px 20px;
    opacity: 0.22;
}
.menu-item-half-circle:before {
    top: 4px;
    left: 5px;
    width: 11px;
    height: 20px;
    border-width: 4px 0px 4px 4px;
    border-style: solid;
    border-color: #FFF;
}
.menu-item-half-circle:after {
    top: 10px;
    left: 11px;
    width: 5px;
    height: 8px;
    background: #FFF;
}

.menu-item-label {
    position: absolute;
    top: 0px;
    left: 36px;
    width: 157px;
    font-size: 25px;
    opacity: 0.3;
    transform: scale(102%, 96%);
}
.menu-item-settings-bg {
    position: absolute;
    top: 2px;
    left: 206px;
    width: 138px;
    height: 25px;
    background: #000;
}
.menu-item-settings-bg:before,
.menu-item-settings-bg:after {
    content: '';
    position: absolute;
    display: block;
    width: 5px;
    height: 5px;
    border-width: 13px 6px 5px 6px;
    border-style: solid;
    border-color: #000 transparent transparent #000;
    border-radius: 4px 3px 4px 1px;
}
.menu-item-settings-bg:before {
    top: 3px;
    left: -6px;
    transform: rotate(-26deg) skewY(-27deg);
}
.menu-item-settings-bg:after {
    top: 4px;
    right: -6px;
    transform: rotate(153deg) skewY(-27deg);
}
.menu-item-switch-curtains {
    position: absolute;
    top: 0px;
    left: 206px;
    width: 138px;
    height: 29px;
    overflow: hidden;
}
.menu-item-switch-curtains:before,
.menu-item-switch-curtains:after {
    content: '';
    position: absolute;
    top: 1px;
    width: 27px;
    height: 27px;
    background: linear-gradient(#000, #0000);
    z-index: 5;
}
.menu-item-switch-curtains:before {
    left: 0px;
    transform: rotate(-90deg);
}
.menu-item-switch-curtains:after {
    right: 0px;
    transform: rotate(90deg);
}
.menu-item-previous,
.menu-item-next {
    position: absolute;
    display: none;
    border-width: 7px;
    border-style: solid;
    transform: scaleX(55%);
    z-index: 5;
}
.menu-item-previous {
    top: 6px;
    left: 196px;
    border-color: transparent #F8E50C transparent transparent;
}
.menu-item-next {
    top: 10px;
    left: 341px;
    border-color: transparent transparent transparent #F8E50C;
}
.menu-item .on,
.menu-item .off {
    position: absolute;
    top: 0px;
    font-size: 26px;
    transform: scale(114%, 100%);
    transition: 0.3s ease left;
}
.menu-item .on { left: -14px; }
.menu-item .off { left: 50px; }
.menu-item.on .on { left: 50px; }
.menu-item.on .off { left: 114px; }
.menu-item-bg {
    position: absolute;
    width: 364px;
    height: 29px;
    background: #FFF;
    border-width: 0px 1px 1px;
    border-style: solid;
    border-color: transparent;
    border-radius: 20px 0px 0px 20px;
    opacity: 0.15;
}
.menu-item-bg:after {
    content: '';
    position: absolute;
    display: block;
    top: 6px;
    right: -11px;
    width: 20px;
    height: 20px;
    border-width: 11px;
    border-style: solid;
    border-color: #FFF #FFF transparent transparent;
    border-radius: 0px 5px 12px 0px;
    transform: rotate(38deg) skewY(18deg);
}
.menu-item-border {
    position: absolute;
    width: 364px;
    height: 29px;
    border-width: 1px 0px 1px 1px;
    border-style: solid;
    border-color: #FFF;
    border-radius: 20px 0px 0px 20px;
    opacity: 0.5;
}
.menu-item-border:before,
.menu-item-border:after {
    content: '';
    position: absolute;
    display: block;
}
.menu-item-border:before {
    bottom: -1px;
    right: -4px;
    width: 5px;
    height: 1px;
    border-bottom: 1px solid #FFF;
}
.menu-item-border:after {
    top: 7px;
    right: -12px;
    width: 20px;
    height: 12px;
    border-width: 1px 1px 0px 0px;
    border-style: solid;
    border-color: #FFF;
    border-radius: 0px 4px 0px 0px;
    transform: rotate(37deg) skewY(23deg);
}
.menu-item.active .menu-item-full-circle {
    display: block;
}
.menu-item.active .menu-item-label {
    color: #000;
    opacity: 1.0;
}
.menu-item.active .menu-item-bg {
    background: #8C7021;
    opacity: 1.0;
}
.menu-item.active .menu-item-bg:after {
    border-color: #8C7021 #8C7021 transparent transparent;
}
.menu-item.active .menu-item-border {
    border-color: #EDC53F;
    opacity: 1.0;
}
.menu-item.active .menu-item-border:before,
.menu-item.active .menu-item-border:after {
    border-color: #EDC53F;
}

.menu-item.active.on .menu-item-next {
    display: block;
}
.menu-item.active:not(.on) .menu-item-previous {
    display: block;
}
.menu-item:focus {
    outline: none;
}

.menu-items:not(.active) .menu-item-next { display: none; }
.menu-items:not(.active) .menu-item-previous { display: none; }
.menu-items.active .menu-item-next { display: block; }
.menu-items.active .menu-item-previous { display: block; }
.menu-items.active.last .menu-item-next { display: none; }
.menu-items.active.first .menu-item-previous { display: none; }

.menu-items-switch-curtains {
    display: flex;
    padding-left: 20px;
}
.menu-items-switch-curtains span {
    position: relative;
    display: inline-block;
    width: 100px;
    max-width: 100px;
    min-width: 100px;
    margin-left: 0px;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    transition: 0.5s ease all;
}

.green-screen .menu-item-bg {
    background: #333;
    opacity: 1.0;
}
.green-screen .menu-item-bg:after {
    border-color: #333 #333 transparent transparent;
}


.explainer {
    border-width: 4px 2px;
    border-style: solid;
    border-color: #8F929C;
    border-radius: 8px;
    margin: 20px 0px 0px 0px;
    padding: 6px 9px;
    color: #8F929C;
    font-family: Univers, sans-serif;
    font-weight: 700;
    text-align: justify;
}
.explainer p {
    margin: 0px;
    padding: 0px;
}


.image-top-left,
.image-top-right,
.image-bottom-left,
.image-bottom-right {
    position: fixed;
    z-index: -1;
}
.image-top-left {
    top: 10px;
    left: 30px;
}
.image-top-right {
    top: 10px;
    right: 30px;
}
.image-bottom-left {
    bottom: 10px;
    left: 30px;
}
.image-bottom-right {
    bottom: 10px;
    right: 30px;
}


.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 560px;
    height: 260px;
    margin: 0px auto;
    font-size: 500%;
    cursor: pointer;
    overflow: hidden;
    perspective: 800px;
}
.deck,
.cylinder,
.card {
    position: absolute;
    transform-style: preserve-3d;
}
.deck {
    top: 50%;
    left: 50%;
    width: 80em;
    height: 80em;
    margin: -40em 0em 0em -40em;
    transform: rotateY(-11.25deg);
    transition: 1s ease transform;
}
.cylinder {
    top: 50%;
    left: 50%;
    width: 0em;
    height: 0em;
    transform-origin: 50%;
    transform: translate3D(0em, 0em, 0em);
    opacity: 1.0;
    width: 6em;
    height: 3em;
    margin: -0.9em 0em 0em 0em;
}
.card {
    width: 1.19em;
    height: 1.9em;
    background: linear-gradient(#111, #4666, #111);
    border-radius: 10px;
    box-shadow: inset 0px 0px 0px 1px #0006;
    backface-visibility: hidden;
    background-size: 100% 100%;
    background-position: center;
    perspective: 400px;
    transform-origin: 0 0;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
}
.character {
    --sprite-width: 136px;
    --sprite-height: 188px;
    width: var(--sprite-width);
    height: var(--sprite-height);
    background-image: url('_images/spritesheet.png');
    background-position: var(--sprite-width) 0px;
    backface-visibility: hidden;
    filter: drop-shadow(10px 9px 7px #000A);
    transform: translate3D(-23px, -18px, 8px) scale(0.7);
}
.selected-card {
    width: 1.19em;
    height: 1.9em;
    border: 4px solid #5F6A;
    border-radius: 20px;
    transform: translate3d(0px, 5px, 270px);
    animation:
        throbbing-selector 3s ease-in-out infinite,
        selector-border 10s ease-in-out infinite;
}

@keyframes throbbing-selector {
  0%,
  100% { transform: translate3d(0px, 5px, 260px); }
  50%  { transform: translate3d(0px, 5px, 220px); }
}
@keyframes selector-border {
  0%   { filter: hue-rotate(0deg); }
  100% { filter: hue-rotate(360deg); }
}
@keyframes spinning-menu-circle {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@keyframes fading-menu-circle {
  0%,
  100% { opacity: 1.0 }
  50%  { opacity: 0.9 }
}
